@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=EB+Garamond:wght@400;500;600&family=Roboto:wght@100;300;400&display=swap');

:root {
  --greenleaf: #1F6B32;
  --greengrass: #478E1C;
  --greenlight: #BEE18E;
  --light: #E4F7D8;
  --autumn: #D0762B;
  --wood: #5A4318;
  --white: #fbf8e6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
  color: var(--wood);
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3
  {
  font-weight: 500;
  font-family: 'EB Garamond', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


/* Navbar Admin ---------------------------------------------------------------------------*/

nav {
  max-width: 1440px;
  margin: auto;
  background-color: var(--greengrass);
}
nav .bt-nav {
  color: var(--greenlight);
}
nav .bt-nav:hover {
  color: var(--wood);
}
nav .bt-nav:focus {
  color: var(--wood);
}


/* Button ---------------------------------------------------------------------------*/

.bt-default {
    background-color: var(--light);
    color: var(--greengrass);
}
.bt-default:hover {
  background-color: var(--greenleaf);
  color: var(--light);
}
.bt-default-bis {
  background-color: var(--autumn);
  color: var(--white);
}
.bt-default-bis:hover {
  background-color: var(--wood);
  color: var(--autumn);
}
.bt-big {
  background-color: var(--greenleaf);
  color: var(--white);
  letter-spacing: 0.08em;
  width: 225px;
}
.bt-big:hover {
  background-color: var(--wood);
  color: var(--white);
}
.bt-initials {
  background-color: var(--autumn);
  color: var(--light);
  width: 58px;
  height: 58px;
  border-radius: 29px;
  font-size: 16px;
}
.bt-initials:hover {
  background-color: var(--greengrass);
  color: var(--light);
}
  
/* Links a ---------------------------------------------------------------------------------------------------------- */
.a-name:hover,
.a-name:focus {
  color: var(--greenleaf);
  border-bottom: 1px solid var(--greenleaf);
}

/* Pages ------------------------------------------------------------------------------------------------------------ */

.admin {
  max-width: 1440px;
  margin: auto;
}
.admin h2{
  font-size: 3em;
  color: var(--brown);
}
.admin h4 {
  font-size: 1.5em;
  color: var(--red);
}
.lnk-message {
  text-decoration: underline;
}
.inp-search {
  min-width: 270px;
  max-width: 600px;
}
.icn-check {
  color: var(--greenleaf);
}
.clp-customer {
  background-color: var(--light);
}
.cd-space {
  min-width: 320px;
}

/* Modals ----------------------------------------------------------------------------------------------------------- */

.mdl-background {
  background-color: var(--white);
}